<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--폰트 설정-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
            rel="stylesheet"
        />
        <title>사고 대처 방안 페이지</title>
        <link rel="stylesheet" href="{% static 'css/solution.css' %}" />
    </head>
    <body>
        <div id="container">
            <img id="logo" src="{% static 'img/logo.svg' %}" />
            <div id="scroll">
                <div id="top-box">
                    <div id="top-app">
                        <img id="SOS" src="{% static 'img/SOS.svg' %}" />
                        <img id="wofety" src="{% static 'img/woofty.svg' %}" />
                        <img id="siren" src="{% static 'img/siren.svg' %}" />
                    </div>
                    <div class="Line_1"></div>
                    <div class="top-contents">
                        <h3 id="guide-title">이럴 땐 이렇게 해결하세요.</h3>
                        <p>생활 속에서 마주하는 위험들에</p>
                        <p>어떻게 대처해야 하는지 알려드립니다.</p>
                    </div>
                </div>
                <div class="box-contents">
                    <div class="box">
                        <div class="emo-contents">
                            <h2 id="text">누군가 뒤따라오고 있어요!</h2>
                            <div id="orangebox">빠르게 걸어야하나?</div>
                            <div id="whitebox">소리를 질러야하나?</div>
                            <img id="face" src="{% static 'img/face.svg' %}" />
                            <img
                                src="{% static 'img/question-s.svg' %}"
                                style="
                                    position: absolute;
                                    margin-top: -30px;
                                    margin-left: 155px;
                                "
                            />
                            <img
                                src="{% static 'img/question-l.svg' %}"
                                style="
                                    position: absolute;
                                    margin-top: -29px;
                                    margin-left: 161px;
                                "
                            />
                        </div>
                        <div class="Line_2"></div>
                        <div class="text-contents">
                            <p>
                                누군가 뒤에서 따라오는 느낌이 들면 과감하게 뒤를
                                돌아보세요.
                            </p>
                            <p>
                                따라오는 사람의 눈을 똑바로 쳐다보는 행동은
                                상대방에게
                            </p>
                            <p>'나도 만만치 않다'는 의미를 전하게 됩니다.</p>
                            <p>뒤돌아봤을 때 실제 뒤따라오는 사람이 있다면</p>
                            <p>
                                먼저 앞질러 지나갈 수 있도록 걸음을 조금
                                늦추면서
                            </p>
                            <p>
                                뒤따라온 사람의 반응을 살펴볼 필요도 있습니다.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="emo-contents">
                            <h2 id="text">누군가 문을 두드려요!</h2>
                            <div id="orangebox">문을 열어야 하나?</div>
                            <div id="whitebox">신고를 해야 하나?</div>
                            <img id="face" src="{% static 'img/face.svg' %}" />
                            <img
                                src="{% static 'img/question-s.svg' %}"
                                style="
                                    position: absolute;
                                    margin-top: -30px;
                                    margin-left: 155px;
                                "
                            />
                            <img
                                src="{% static 'img/question-l.svg' %}"
                                style="
                                    position: absolute;
                                    margin-top: -29px;
                                    margin-left: 161px;
                                "
                            />
                        </div>
                        <div class="Line_2"></div>
                        <div class="text-contents">
                            <p>
                                누군가 뒤에서 따라오는 느낌이 들면 과감하게 뒤를
                                돌아보세요.
                            </p>
                            <p>
                                따라오는 사람의 눈을 똑바로 쳐다보는 행동은
                                상대방에게
                            </p>
                            <p>'나도 만만치 않다'는 의미를 전하게 됩니다.</p>
                            <p>뒤돌아봤을 때 실제 뒤따라오는 사람이 있다면</p>
                            <p>
                                먼저 앞질러 지나갈 수 있도록 걸음을 조금
                                늦추면서
                            </p>
                            <p>
                                뒤따라온 사람의 반응을 살펴볼 필요도 있습니다.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="emo-contents">
                            <h2 id="text">모르는 사람이 도촬을 해요!</h2>
                            <div id="orangebox">핸드폰을 뺏어야 하나?</div>
                            <div id="whitebox">소리를 질러야 하나?</div>
                            <img id="face" src="{% static 'img/face.svg' %}" />
                            <img
                                src="{% static 'img/question-s.svg' %}"
                                style="
                                    position: absolute;
                                    margin-top: -30px;
                                    margin-left: 155px;
                                "
                            />
                            <img
                                src="{% static 'img/question-l.svg' %}"
                                style="
                                    position: absolute;
                                    margin-top: -29px;
                                    margin-left: 161px;
                                "
                            />
                        </div>
                        <div class="Line_2"></div>
                        <div class="text-contents">
                            <p>
                                누군가 뒤에서 따라오는 느낌이 들면 과감하게 뒤를
                                돌아보세요.
                            </p>
                            <p>
                                따라오는 사람의 눈을 똑바로 쳐다보는 행동은
                                상대방에게
                            </p>
                            <p>'나도 만만치 않다'는 의미를 전하게 됩니다.</p>
                            <p>뒤돌아봤을 때 실제 뒤따라오는 사람이 있다면</p>
                            <p>
                                먼저 앞질러 지나갈 수 있도록 걸음을 조금
                                늦추면서
                            </p>
                            <p>
                                뒤따라온 사람의 반응을 살펴볼 필요도 있습니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 하단 바 부분 -->
            <div id="underBar">
                <img id="bulb" src="{% static 'img/bulb.svg' %}" />
                <img id="home" src="{% static 'img/home (1).svg' %}" />
                <img id="circle" src="{% static 'img/circle.svg' %}" />
                <img id="logo_s" src="{% static 'img/logo_s.svg' %}" />
                <img
                    id="edit_square"
                    src="{% static 'img/edit_square.svg' %}"
                />
                <img
                    id="account_circle"
                    src="{% static 'img/account_circle.svg' %}"
                />
                <img
                    src="{% static 'img/text_bulb.svg' %}"
                    style="position: relative; left: -223px"
                />
                <img
                    src="{% static 'img/text_home.svg' %}"
                    style="position: relative; left: -190px; top: -1px"
                />
                <img
                    src="{% static 'img/text_edit.svg' %}"
                    style="position: relative; left: -76px"
                />
                <img
                    src="{% static 'img/text_my.svg' %}"
                    style="position: relative; left: 304px; top: -21px"
                />
            </div>
        </div>
    </body>
</html>