<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 다중이미지 업로드 enctype 추가-->
    <form action="{% url 'info' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %} 
    
      {% for i in context.userinfo %}
      <lable for="name">이름</lable>
      <input type="text" value="{{i.name}}" name="name_box" /><br />
      <lable for="residenceNumber">주민번호</lable>
      <input
        type="text"
        value="{{i.residenceNumberStart}}"
        name="residenceNumberStart"
      />-<input
        type="text"
        value="{{i.residenceNumberEnd}}"
        name="residenceNumberEnd"
      /><br />
      <lable for="height">신장</lable>
      <input type="text" value="{{i.height}}" name="height_box" /><br />
      <lable for="weight">체중</lable>
      <input type="text" value="{{i.weight}}" name="weight_box" /><br />

      <label for="tooth">치아상태</label>
      <select name="tooth_option">
        {% for tooth_value, tooth_display in context.tooth_choices %}
        <option value="{{ tooth_value }}" {% if i.tooth == tooth_value %}selected{% endif %}>
          {{ tooth_display }}
        </option>
        {% endfor %}
      </select>
      <label for="hair">두발상태</label>
      <select name="hair_option">
        {% for hair_value, hair_display in context.hair_choices %}
        <option value="{{ hair_value }}" {% if i.hair == hair_value %}selected{% endif %}>
          {{ hair_display }}
        </option>
        {% endfor %}
      </select>
      <label for="blood">혈액형</label>
      <select name="blood_option">
        {% for blood_value, blood_display in context.blood_choices %}
        <option value="{{ blood_value }}" {% if i.blood == blood_value %}selected{% endif %}>
          {{ blood_display }}
        </option>
        {% endfor %}
      </select>
      <label for="scar">흉터</label>
      <select name="_option">
        {% for scar_value, scar_display in context.scar_choices %}
        <option value="{{ scar_value }}" {% if i.scar == scar_value %}selected{% endif %}>
          {{ scar_display }}
        </option>
        {% endfor %}
      </select><br />
      <lable for="feature">특이사항</lable>
      <input type="textarea" value="{{i.feature}}" name="feature_box" /></br>

      {% for p in context.photo %}  <!-- context 변수로 변경 -->
      <img src="{{p.image.url}}" width="50">
      {% endfor %}
      {% endfor %}<br />

      <!-- 보호자 정보 입력-->
      {% for i in context.guardinfo %}
      <h3>보호자 정보</h3>
      <lable for="name">이름</lable>
      <input type="text" value="{{i.guard_name}}" name="guard_name" /><br />
      <lable for="residenceNumber">주민번호</lable>
      <input
        type="text"
        value="{{i.guard_residenceNumberStart}}"
        name="guard_residenceNumberStart"
      />-<input
        type="text"
        value="{{i.guard_residenceNumberEnd}}"
        name="guard_residenceNumberEnd"
      /><br />
      <lable for="phonenum">휴대전화 번호</lable>
      <input type="text" value="{{i.phoneNumber}}" name="guard_phone" /><br />
      
      {% endfor %} 
    </form>
  </body>
</html>
