.container {
  position: relative;
  max-width: 360px;
  max-height: 740px;
  margin: 0px auto;
  background: linear-gradient(to top, #f4eee9, #f2f2f2);
}

.top-content {
  margin-left: 17px;
}

.Line {
  display: flex;
  align-items: center;

  width: 327px;
  height: 0px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3)
}

.p1 {
  margin-top: 15px;
}

.p2 {
  margin-top: 11px;
}

.top-title {
  display: flex;
}

/* 서치 창 */
.search {
  width: 322px;
  height: 33px;
  flex-shrink: 0;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

  margin-bottom: 20px;
}

.search-input {
  width: 270px;
  border: none;
  background: transparent;

  margin-left: 10px;
  margin-top: 7px;
}

.main-content {
  padding-left: 0;
  margin-left: 20px;
}

.search-button {
  border: none;
  background-color: transparent;

  color: #F99738;
}
 
/* 글 관련 박스 */
.post-list {
  list-style-type: none;

  padding-left: 0;
}

.content-box {
  width: 322px;
  height: 120px;
  flex-shrink: 0;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-bottom: 20px;
  padding-top: 4px;
}

/* 박스 안 텍스트 */
.left-content {
  margin-left: 20px;
}
.blank {
  margin-top: 10px;
}

.post-title {
  color: #FE9738;
  font-family: "Gothic A1";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.32px;

  margin:  0 0 8px 0;
}

.post-datetime {
  color: #000;
  font-family: "Gothic A1";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.32px;
}

.post-author {
  color: #000;
  font-family: "Gothic A1";
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.32px;
}

.post-category {
  width: 57px;
  height: 22px;
  flex-shrink: 0;

  margin-top: 0;
  margin-left: 243px;

  border-radius: 10px;
  background: rgba(254, 151, 56, 0.50);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);

  color: #000;
  text-align: center;
  font-family: "Gothic A1";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.32px;
}

/* 하단 페이지 창 */
.pages {
  margin-left: 142px;
  padding: 0;
}


/* 하단바 설정 */
#underBar {
  position: relative;
  width: 360px;
  height: 68px;
  background: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px 20px 0px 0px;
}
#bulb {
  position: relative;
  left: 35px;
  top: -12px;
}
#home {
  position: relative;
  left: 60px;
  top: -13px;
}
#circle {
  position: relative;
  left: 85px;
  top: 5px;
}
#logo_s {
  position: relative;
  left: 27px;
  top: -7px;
}
#edit_square {
  width: 28px;
  position: relative;
  left: 53px;
  top: -16px;
}
#account_circle {
  width: 29px;
  position: relative;
  left: 80px;
  top: -13px;
}