<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'create' %}" method="post">
      {% csrf_token %}
      <label for="title">제목</label>
      <input type="text" name="title" /><br />
      <label for="body">본문</label>
      <textarea name="body" id="" cols="30" rows="10"></textarea>
      <input type="submit" value="제출" />
    </form>
  </body>
</html>
