<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
</head>
<body>
    <h1>게시글 작성</h1>
    <form action="{% url 'create' customUser_id=customUser_id %}" method="post">

        {% csrf_token %}
        <label for="title">제목</label>
        <input type="text" name="title" required><br>

        <label for="body">본문</label>
        <textarea name="body" rows="4" required></textarea><br>

        <input type="checkbox" name="category" value="위험" id="category_위험">
        <label for="category_위험">위험</label><br>

        <input type="checkbox" name="category" value="추행" id="category_추행">
        <label for="category_추행">추행</label><br>

        <input type="checkbox" name="category" value="폭행" id="category_폭행">
        <label for="category_폭행">폭행</label><br>

        <input type="checkbox" name="category" value="침입" id="category_침입">
        <label for="category_침입">침입</label><br>

        <input type="submit" value="게시글 작성">
    </form>
</body>
</html>