<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 글 목록</title>
</head>
<body>
    <h1>전체 글 목록</h1>
    <ul>
        {% for post in page_obj %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>작성 시간: {{ post.datetime|date:"Y년 F j일" }} {% if post.datetime|time:"G" < 12 %}오전{% else %}오후{% endif %} {{ post.datetime|time:"g시 i분" }}</p>
                <p>카테고리: {{ post.category }}</p>
                <p>작성자 : {{post.author}}</p>
            </li>
        {% endfor %}
    </ul>
    <br/>
    <br/>
    <div>
        {% if page_obj.has_other_pages %}
            <ul style="display:flex;list-style: none;">
                {% if page_obj.has_previous %}
                    <li style="margin:3px;"><a style="text-decoration:none; color: black;" href="?page={{ page_obj.previous_page_number }}">&#10094; Prev</a></li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li style="margin:3px;"><a style="text-decoration:none; color: red;" href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li style="margin:3px;"><a style="text-decoration:none; color: blue;" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li style="margin:3px;"><a style="text-decoration:none; color: black;" href="?page={{ page_obj.next_page_number }}">&#10095; Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</body>
</html>