<!DOCTYPE html>
{% load static %}
<head>
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <!--폰트 설정-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
        rel="stylesheet"
    />
</head>
<body>
    <div class="container">
        <img class="logo" src="{% static 'img/logo_login.svg' %}" />
        <div  class="top-contents">
            <img class="hello" src="{% static 'img/login_hello.svg' %}" />
            <img class="service" src="{% static 'img/login_service.svg' %}" />
            <h3  class="OOFT">OOFT입니다.<h3>
        </div>
        <form method="POST" action="{%url 'login'%}">
            {% csrf_token %} 
            <!-- 사용자 이름 -->
            <input name="custom_id" type="text" placeholder="아이디" class="input"/>
            <!-- 비밀번호 -->
            <input name="password" type="password" placeholder="비밀번호" class="input"/>
            <a href='{% url "signup" %}' class="signup"><img src="{% static 'img/login_signup.svg' %}" /></a>
            <input type="submit" class="btn btn-primary" value="로그인 하기" />
        </form>

        <!-- 하단 바 부분 -->
        <div id="underBar">
            <img id="bulb" src="{% static 'img/bulb.svg' %}" />
            <img id="home" src="{% static 'img/home (1).svg' %}" />
            <img id="circle" src="{% static 'img/circle.svg' %}" />
            <img id="logo_s" src="{% static 'img/logo_s.svg' %}" />
            <img
                id="edit_square"
                src="{% static 'img/edit_square.svg' %}"
            />
            <img
                id="account_circle"
                src="{% static 'img/account_circle.svg' %}"
            />
            <img
                src="{% static 'img/text_bulb.svg' %}"
                style="position: relative; left: -223px"
            />
            <img
                src="{% static 'img/text_home.svg' %}"
                style="position: relative; left: -190px; top: -1px"
            />
            <img
                src="{% static 'img/text_edit.svg' %}"
                style="position: relative; left: -76px"
            />
            <img
                src="{% static 'img/text_my.svg' %}"
                style="position: relative; left: 304px; top: -21px"
            />
        </div>
    </div>
</body>